:root {
  --dark-color: rgb(255, 255, 255);
  --dark-shadow: 0 6px 10px var(--dark-color);
  --background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(57, 61, 88, 1) 48%,
    rgba(15, 8, 51, 1) 100%
  );

  --great-shadow: 8px 0px #0db3e6, -8px 0px #0db3e6, 0px 8px #0db3e6,
    0px -8px #0db3e6, 0px 18px #2979ff, -8px 13px #2a6cda, 8px 13px #2a6cda;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
