:root {
  --dark-color: rgb(38, 38, 38);
  --dark-shadow: 0 2px 6px var(--dark-color);
  --background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(57, 61, 88, 1) 48%,
    rgba(15, 8, 51, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  color: red;
}

.green {
  color: green;
}

.gray-hover:hover {
  color: gray;
}
